:root {
    --color-white: #fff;
    --color-black-1: #36474f;
    --color-black-2: #445964;
    --color-black-3: #546e7b;
    --color-blue-1: #43a5f6;
    --color-blue-2: #2b93e3;
    --color-blue-3: #4b4ded;
    --color-orange-1: #fe8f01;
    --color-purple-1: #8553cb;
    --color-red-1: #ff3b34;
    --color-pink-1: #ed4b9e;
    --color-yellow-1: #f7f406;
    --max-width: 1440px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--color-blue-2);
}
ul, li {
    list-style: none;
}
.clearfix {
    clear: both;
}
body {
    min-height: 100vh;
    background: var(--color-white);
}
.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}
header {
    position: relative;
    width: 100%;
    min-height: 66px;
    background: var(--color-blue-1);
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #01698C 0%, var(--color-purple-1) 100%), var(--color-orange-1);
}
header .logo {
    color: var(--color-white);
    font-size: 1.75em;
    font-weight: 600;
}
header nav ul li {
    position: relative;
    float: left;
}
header nav ul li a {
    color: var(--color-white);
    font-size: 1.1em;
    padding: 20px 25px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
header nav ul li a i {
    font-size: 0.8em;
    display: inline-block;
    margin-right: 5px;
}
header nav ul li a:hover {
    background-color: var(--color-blue-2);
}
header nav ul li > ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--color-black-2);
    display: none;
    z-index: 99;
}
header nav ul li:hover > ul {
    display: block;
}
header nav ul li ul li {
    position: relative;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
}
@media (max-width: 900px) {
    header {
        padding: 10px 20px;
    }
    header nav {
        position: absolute;
        width: 100%;
        top: 66px;
        left: 0;
        background: var(--color-black-2);
        display: none;
        z-index: 999;
    }
    header.active nav {
        display: initial;
    }
    header nav ul li {
        width: 100%;
    }
    header nav ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }
    header nav ul li:hover ul li {
        background: var(--color-black-3);
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuToggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: var(--color-white);
        transform: translateY(-12px);
        box-shadow: 0 12px var(--color-white);
    }
    .menuToggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: var(--color-white);
        transform: translateY(12px);
    }
    header.active .menuToggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 var(--color-white);
    }
    header.active .menuToggle::after {
        transform: rotate(315deg);
    }
}


.box-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.box-container .box {
    position: relative;
    width: 25%;
    height: 500px;
    background-color: var(--color-white);
    transition: 0.5s;
    /* padding-bottom: 200%; */
}
.box-container .box:hover {
    transform: scale(0.95);
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.box-container .box .thumb {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box-container .box:nth-child(odd) .thumb {
    bottom: 0;
    left: 0;
}
.box-container .box .thumb img {
    width: 100%;
}
.box-container .box .details {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: var(--color-black-2);
}
.box-container .box:nth-child(even) .details {
    bottom: 0;
    left: 0;
}
.box-container .box:nth-child(1) .details {
    background: var(--color-purple-1);
}
.box-container .box:nth-child(2) .details {
    background: var(--color-orange-1);
}
.box-container .box:nth-child(4) .details {
    background: var(--color-blue-2);
}
.box-container .box:nth-child(3) .details {
    background: var(--color-red-1);
}
.box-container:nth-child(3) .box:nth-child(1) .details {
    background: var(--color-blue-3);
}
.box-container:nth-child(3) .box:nth-child(2) .details {
    background: var(--color-pink-1);
}
.box-container .box .details .content {
    position: absolute;
    top: calc(50% + 16px);
    transform: translateY(-50%);
    text-align: center;
    padding: 20px;
    width: 100%;
    transition: 0.5s;
}
.box-container .box:hover .details .content {
    top: calc(50%);
}
.box-container .box .details .content .fa {
    font-size: 80px;
    color: var(--color-white);
}
.box-container .box .details .content h3 {
    padding: 10px 0;
    color: var(--color-white);
}
.box-container .box .details .content a {
    display: inline-block;
    padding: 5px 20px;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    transition: 0.5s;
    border-radius: 20px;
    transform: scale(0);
}
.box-container .box:hover .details .content a {
    transform: scale(1);
}
.box-container .box .details .content a:hover {
    background-color: var(--color-white);
    color: var(--color-black-1);
}

@media (max-width: 900px) {
    .box-container .box {
        height: 250px;
    }
    .box-container .box .thumb {
        display: none;
    }
}

@media (max-width: 768px) {
    .box-container {
        display: block;
    }
    .box-container .box {
        width: 50%;
        float: left;
    }
    .box-container .box .details .content {
        top: 50%;
    }
    .box-container .box .details .content a {
        transform: scale(1);
    }
}
@media (max-width: 468px) {
    .box-container .box {
        width: 100%;
    }
    .box-container .box .thumb {
        display: block;
        width: 50%;
        left: 50%;
    }
    .box-container .box .details {
        width: 50%;
    }
    .box-container .box:nth-child(odd) .thumb{
        left: 50%;
    }
    .box-container .box:nth-child(even) .details {
        left: 50%;
    }
    .box-container .box:nth-child(even) .thumb {
        left: 0;
    }
}

.box-items {
    background: var(--color-white);
    padding: 20px;
}
.box-items .box-header {
    font-size: 1.5em;
    color: var(--color-black-1);
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-black-1);
}
.box-items .box-header h2 {
    display: inline-block;
    margin-left: 10px;
}

.box-movies {
    display: grid;
    grid-template-columns: calc(16.66% - 16.66px) calc(16.66% - 16.66px) calc(16.66% - 16.66px) calc(16.66% - 16.66px) calc(16.66% - 16.66px) calc(16.66% - 16.66px);
    grid-gap: 20px;
    grid-auto-rows: minmax(min-content, max-content);
    height: 100%;
    background-color: transparent;
    width: 100%;
    overflow: hidden;
}
.card-movie {
    position: relative;
    width: 100%;
    padding-bottom: 140%;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    overflow: hidden;
}
.card-movie .poster {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.card-movie .poster::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
    background: linear-gradient(0deg, var(--color-red-1) 40%, transparent);
    bottom: -25%;
}
.card-movie:hover .poster::before {
    bottom: 0;
}
.card-movie .poster img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    transition: 0.5s;
}
.card-movie:hover .poster img {
    transform: translateY(-50px);
    filter: blur(5px);
}
.card-movie .details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 20px;
    transition: 0.5s;
}
.card-movie .details h3 {
    font-size: 1.2em;
    color: var(--color-white);
    margin: 7px 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-movie .details h3 a {
    color: var(--color-white);
}
.card-movie .details .rating {
    position: relative;
    font-size: 1em;
    margin-top: 10px;
}
.card-movie .details .rating .fa-star {
    color: var(--color-yellow-1);
}
.card-movie .details .rating span {
    color: var(--color-white);
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
}
.card-movie .details .tags {
    position: relative;
}
.card-movie .details .tags span {
    padding: 5px;
    color: var(--color-white);
    background: var(--color-blue-2);
    border-radius: 4px;
    display: inline-block;
    margin-top: 5px;
}
.card-movie .details .tags span:nth-child(2) {
    background: var(--color-orange-1);
}
.card-movie .details .info {
    color: var(--color-white);
    display: none;
    transition: 0.5s;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all;
    -webkit-box-orient: vertical;
}
.card-movie:hover .details .info {
    display: -webkit-box;
}
@media (max-width: 1200px) {
    .box-movies {
        grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
    }
}
@media (max-width: 768px) {
    .box-movies {
        grid-template-columns: calc(33.33% - 13.33px) calc(33.33% - 13.33px) calc(33.33% - 13.33px);
    }
}
@media (max-width: 468px) {
    .box-movies {
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    }
}
