:root {
    --primary-color: #ec1f55;
    --text-color: #333;
    --max-width: 1140px;
}

.music-top20 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 24px;
    grid-auto-rows: minmax(min-content, max-content);
}
.music-content {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.music-content:hover,
.music-content.active {
    background-color: #f5f7fa;
}
.music-content > span {
    font-size: 16px;
    font-weight: bold;
    width: 30px;
    text-align: center;
    display: block;
}
.music-content > p {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 12px;
}
.music-content > div {
    flex: 1;
}
.music-content > div h3 {
    font-size: 16px;
    margin: 0;
}
.music-content div p {
    font-size: 12px;
    margin: 0;
}

.album-music {
    width: 100%;
    padding: 0 24px;
}
.album-music .music-content {
    display: block;
}
.album-music .music-content > div h3 {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.player .dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    margin: 0 auto;
}

/* CD */
.player .cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.player .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}

/* CONTROL */
.player .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
    max-width: var(--max-width);
    margin: 0 auto;
}

.player .control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
    cursor: pointer;
}

.player .control .btn.active {
    color: var(--primary-color);
}

.player .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.player .progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.player .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* PLAYLIST */
.playlist {
    margin-top: 408px;
    padding: 12px;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
    background-color: var(--primary-color);
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}

.album-left {
    width: 30%;
    float: left;
}
.album-right {
    width: 70%;
    float: left;
}
.clearfix {
    clear: both;
}

@media screen and (max-width: 991px) {
    .music-top20 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 591px) {
    .album-left,
    .album-right {
        width: 100%;
    }
}

